.rtl .report-tab.asre-btn {
	float: right !important;
}
#asre_tab1:checked ~ #asre_content1, #asre_tab2:checked ~ #asre_content2, #asre_tab3:checked ~ #asre_content3 {
    display: block;
}
section.asre_tab_section {
    display: none;
}
input.asre_tab_input {
	display: none;
}
label.asre_tab_label, a.asre_tab_label, a.asre_tab_label:hover, a.asre_tab_label:focus, a.asre_tab_label:focus:active {	
	text-decoration: none;
    padding: 15px;
    font-size: 14px;
    color: #212121;
    display: inline-block;
    line-height: 1;
    outline: none;
	border-bottom: none;
}
input.asre_tab_input:checked + label, input.asre_tab_input:checked + a {
	color: #212121;
    border-bottom: 3px solid #e05b49;
    margin-bottom: -3px;
	font-weight: 600;
}
.menu_devider {
    border-top: 1px solid #e0e0e0;
	margin-bottom: 20px;
}
.edit-tab.asre-btn {
	margin: 0;
	float: right;
	margin-left: 15px;
	padding: 9px 0 4px 0;
}
.tab_main_heading.clear_heading {
    margin-bottom: 0;
    line-height: 1;
}
.tab_main_heading {
    font-size: 20px;
    color: #3c4758;
    line-height: 35px;
    margin: 20px 0;
}
.tab_section_heading {
    font-size: 14px;
    color: #212121;
    padding: 0 20px;
    margin: auto 0;
	font-weight: 400;
}
.tab_section_heading a {
    text-decoration: none;
}
.asre-sales-report-email-setting div#wpcontent {
	padding: 0;
}
.asre_admin_content {
	vertical-align: top;
    margin: 0 20px;
}
.asre-btn .button-primary {
	background: #e05b49;
    text-shadow: none;
    border-color: #e05b49;
    box-shadow: none;
    font-size: 15px;
    padding: 0px 15px;
    line-height: 36px;
    font-weight: 600;
}
.asre-btn .button-primary.green {
    background: #8bc34a;
    border-color: #8bc34a;
}
.asre-btn .button-primary:hover, .asre-btn .button-primary:focus, .asre-btn .button-primary:disabled, .asre-btn .button-primary[disabled] {
	background: #e05b49 !important;
	border-color: rgba(0,0,0,0.05) !important;
	color: #fff !important;
	text-shadow: none !important;
	box-shadow: inset 0 0 0 100px rgba(0,0,0,0.2) !important;
}
#report-row {
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    margin-bottom: 15px;
	background-color: #fafafa;
}
#report-row.active {
    background: #fff;
}
#the_list a {
    color: #252e3c;
    font-size: 16px !important;
}
#the_list .report-action {
    float: right;
}
div#report-row span {
    line-height: 38px;
}
#the_list .report-action .dashicons {
    padding: 0 5px;
}
.report-next-run-date {
    font-size: 14px;
}

/*header style*/
.zorem-layout__header * {
    box-sizing: border-box;
}
.zorem-layout__header .zorem-layout__header-logo {
    padding: 0 0 0 20px;
    margin: auto 0;
    height: 40px;
}
.zorem-layout__header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
    padding: 0;
    height: 70px;
    width: 100%;
    top: 32px;
    z-index: 1001;
}
.zorem-layout__header .zorem-layout__header-breadcrumbs {
    font-size: 14px;
    font-weight: 600;
    padding: 0 0 0 30px;
    margin: 0;
    flex: 1 auto;
    height: 70px;
    line-height: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.zorem-layout__header .zorem-layout__header-breadcrumbs span+span:before {
    content: " / ";
    color: #555d66;
    margin: 0 2px;
}
.zorem-layout__header .zorem-layout__header-breadcrumbs a {
    box-shadow: none;
    color: #03aa6f;
}
.woocommerce-layout__activity-panel-tabs {
    width: 100%;
    display: flex;
    height: 70px;
    justify-content: flex-end;
}
.woocommerce-layout__activity-panel-tabs .dashicons{
	width: 24px;
    height: 24px;
    font-size: 24px;
}
.woocommerce-layout__activity-panel-tabs .woocommerce-layout__activity-panel-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    max-width: -webkit-min-content;
    max-width: min-content;
    min-width: 80px;
    width: 100%;
    height: 70px;
    color: #212121;
    white-space: nowrap;
    font-weight: bold;
}
.woocommerce-layout__activity-panel-tabs .woocommerce-layout__activity-panel-tab:before {
    background-color: #005b9a;
    bottom: 0;
    content: "";
    height: 0;
    opacity: 0;
    transition-property: height,opacity;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    left: 0;
    position: absolute;
    right: 0;
}
.woocommerce-layout__activity-panel-tabs .woocommerce-layout__activity-panel-tab:hover {
    background-color: #f0f0f0;
    box-shadow: none;
}
.woocommerce-layout__activity-panel-tabs .woocommerce-layout__activity-panel-tab.is-active{
    color: #1e1e1e;
    box-shadow: none;
}
.woocommerce-layout__activity-panel-tabs .dashicons-editor-help:before {
    color: #e05b49;
}
.woocommerce-layout__activity-panel-tabs .woocommerce-layout__activity-panel-tab.is-active:before{
    height: 3px;
    opacity: 1;
}
.woocommerce-layout__activity-panel-wrapper {
    height: calc(100vh - 116px);
    background: #f0f0f0;
    width: 510px;
    transform: translateX(100%);
    transition-property: transform box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    position: fixed;
    right: 0;
    top: 116px;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
}

.woocommerce-layout__activity-panel-wrapper.is-open {
    transform: none;
    box-shadow: 0 12px 12px 0 rgb(85 93 102 / 30%);
}
.woocommerce-layout__activity-panel-wrapper.is-switching {
    animation: tabSwitch;
    animation-duration: .3s;
}
.woocommerce-layout__activity-panel-header {
    height: 50px;
    background: #e0e0e0;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.woocommerce-layout__inbox-title {
    color: #1e1e1e;
    display: flex;
    align-items: center;
}
.css-activity-panel-Text {
    box-sizing: border-box;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}
.woocommerce-list {
    margin: 0;
    padding: 0;
}
.woocommerce-list__item {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    background-color: #fff;
}
.woocommerce-list__item:not(:first-child) {
    border-top: 1px solid #f0f0f0;
}
.woocommerce-list__item.has-action {
    cursor: pointer;
}
.woocommerce-list__item > .woocommerce-list__item-inner {
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 16px 24px;
}
.woocommerce-list__item .woocommerce-list__item-before {
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.woocommerce-list__item .woocommerce-list__item-title {
    color: #005b9a;
}
.woocommerce-list-Text {
    box-sizing: border-box;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
.woocommerce-list__item .woocommerce-list__item-after {
    margin-left: 16px;
    display: flex;
    align-items: center;
    margin-left: auto;
}
@media (min-width: 783px) {
	.woocommerce-layout__activity-panel-wrapper {
		height: calc(100vh - 102px);
		top: 102px;
	}
	.woocommerce-layout__activity-panel-header {
		padding: 16px 24px;
	}
}
/*header style end*/

/*License page*/
.d_table {
    display: table;
    width: 100%;
}
.license_connection_section {
    background: #fff;
    border: 1px solid #e0e0e0;
    padding: 15px;
}
.asre_admin_layout h3.licnese-inner-heading {
    margin: 0 -15px 15px;
    padding: 0 15px 15px;
    border-bottom: 1px solid #e0e0e0;
}
.licnese-inner-heading .success {
    font-style: italic;
    color: #8bc34a;
    margin: 0 5px;
}
.plugins_section.pro_plugin_section, .plugins_section.free_plugin_section {
    display: flex;
    flex-wrap: wrap;
}
.plugins_section.free_plugin_section .single_plugin:nth-child(3n) {
    margin-right: 0;
}
.plugins_section.free_plugin_section .single_plugin {
    width: calc(33% - 8px);
    max-width: calc(33% - 8px);
    display: flex;
    margin-right: 20px;
    margin-bottom: 20px;
}
.single_plugin {
    flex-grow: 1;
    padding: 0 0;
    box-sizing: border-box;
    width: 50%;
    max-width: 50%;
    display: flex;
}
.plugins_section.free_plugin_section .single_plugin .free_plugin_inner {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background: #fff;
    padding: 0 15px 15px;
}
.plugins_section.free_plugin_section .plugin_image {
    margin: 0 -15px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.plugins_section.free_plugin_section .plugin_image .plugin_title {
    font-size: 16px;
    font-weight: normal;
    margin-left: 10px;
}
.plugins_section.free_plugin_section .plugin_description h3 {
    margin: 1em 0 0;
    font-size: 16px;
    line-height: 19px;
}
.plugins_section.free_plugin_section .plugin_description p {
    display: -webkit-inline-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*License page end*/

/* Toggle CSS */
input[type="checkbox"].tgl {
	display: none;
}

input[type="checkbox"].tgl + label {
	position: relative;
	display: inline-flex;
	align-items: center;
	cursor: pointer;  
}

input[type="checkbox"].tgl + label::before {
	content: "";
	width: 35px;
	height: 17px;	
	border: 1px solid #ccc;
	border-radius: 1em;	
	transition: background-color 200ms ease-in-out;
    margin-right: 10px;
}

input[type="checkbox"].tgl + label::after {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	content: "\2715";
	font-size: 8px;
	height: 0.9em;
	left: 3px;
	width: 13px;
	height: 13px;
	background-color: #bdbdbd;
	color: #bdbdbd;
	border-radius: 1em;
	transition: ease-in-out, transform 200ms ease-in-out;
}

input[type="checkbox"].tgl:checked + label::before {
	border: 1px solid #ccc;
	background: #ffff;
}

input[type="checkbox"].tgl:checked + label::after {
	content: "\2713";
	transform: translateX(100%);
	background-color: #e05b49;
	left: 8px;
	color: #e05b49;
}

input[type="checkbox"].tgl:disabled + label {
	color: #777;
}

input[type="checkbox"].tgl:disabled + label::before {
	background-color: #CCC;	
	opacity: 0.6;
}

input[type="checkbox"].tgl:disabled + label::after {
	background-color: #777;
	color: #777;
	opacity: 0.6;
}
/*toggle css end*/

/*save notification*/
@-webkit-keyframes fadein {
 from {
right: 0;
opacity: 0;
}
 to {
right: 20px;
opacity: 1;
}
}
@keyframes fadein {
	from {
right: 0;
opacity: 0;
}
 to {
right: 20px;
opacity: 1;
}
}
.snackbar-logs {
    position: fixed;
    z-index: 5000;
    top: 65px;
    right: 10px;
    width: 300px;
}
.snackbar-log {
	-webkit-animation: fadein 0.5s;
	animation: fadein 0.5s;
}
.snackbar-log {
    display: block;
    margin-top: 10px;
    position: relative;
    right: -300px;
    opacity: 0;
}
.snackbar-log-show {
    right: 0;
    opacity: 1;
}
.snackbar-log {
    background: #1F1F1F;
    background: rgba(0, 0, 0, 0.9);
    padding: 15px;
    border-radius: 4px;
    color: #FFF;
    text-shadow: -1px -1px 0 rgb(0 0 0 / 50%);
}
.snackbar-log-success {
    background: #395da4;
    background: #395da4;
}
.snackbar-log-error {
    background: #FE1A00;
    background: rgba(254, 26, 0, 0.9);
}
/*end save notification*/
